body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: black;
  }
  
  h1 {
    color: white;
    padding: 20px;
    font-family: "Arial", sans-serif;
  }
